#Misc
include CHANGES.rst
include LICENSE

# versioneer
include versioneer.py
include fmriprep/_version.py

# package data
include fmriprep/data/*.json
include fmriprep/data/*.mat
include fmriprep/data/*.nii.gz
include fmriprep/data/boilerplate.bib
include fmriprep/data/flirtsch/bbr.sch
include fmriprep/data/itkIdentityTransform.txt
include fmriprep/data/reports-spec.yml
