git+https://github.com/rwblair/nipype.git@cf2b1f8c0f2921a676e1c931d728d0c89fe8dad0#egg=nipype
git+https://github.com/poldracklab/niworkflows.git@bd075425696ec3af3bd77439f4476d7492a92ebe#egg=niworkflows
